.container-login {
  height: 100vh;
}

.login-wrapper {
  margin: 0 auto;
  min-width: 350px;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 30px 15px;
}

.login-wrapper .login-form-forgot {
  float: right;
}

.login-wrapper .login-form-button {
  width: 100%;
}
